.git
.gitignore
.github
.vscode

**/node_modules
**/dist
**/coverage
**/.DS_Store
**/Thumbs.db

frontend/.env
frontend/.env.*
!frontend/.env.template

server/.env
server/.env.*
!server/.env.template

server/server
server/*.exe
server/logs
server/*.log
